@font-face {
    font-family: 'Equinox';
    src: url('fonts/Equinox\ Regular.otf') format('opentype');

    font-display: swap;
    font-style: normal;
}

body{
    background-color: #531253;
    color:white;
    
}
p{
    text-align: center;
}
h1{
    font-family: fantasy;
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family:'Equinox';
    font-size: 40px;

    background-color: rgba(151, 65, 252, 0.2);
    padding: 10px;
    border-radius: 100px;
    box-sizing: border-box;
   
}
.below-nav{
    margin-top: 100px;
}
/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Equinox';
  color:white;
}
a{
    color:white;
    text-decoration: none;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
