@font-face {
    font-family: 'Equinox';
    src: url('Fonts/equinox-regular.otf') format('opentype');

    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('Fonts/manrope-variable-font-wght.ttf') format('truetype');

    font-display: swap;
    font-style: normal;
}

:root {
    --indigo-b: #191726;
    --indigo-lb: #312C4A;
    --indigo-g: #49416D;

    --lilac-g: #7962A5;
    --lilac-lg: #A882DD;
    
    --porcelain-w: #F9FCF8;
    --porcelain-hw: #F2F8F1;

    --turquoise-lg: #B3F2DD;

    --shadow: 0px 0px 38px 2px #00000054;
    --focused-shadow: 0px 0px 38px 2px #000000a5;

    --accent-font: 'Equinox';
    --body-font: 'Manrope';
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Manrope';

    background-color: var(--indigo-g);
}

hr {
    border: none;

    background-color: var(--porcelain-hw);
    
    width: 90%;
    height: 2px;

    margin: 20px auto;
}

#navbar {
    position: sticky;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

    font-family: var(--accent-font);

    background-color: var(--indigo-b);
    box-shadow: var(--shadow);

    padding: 20px;

    gap: 20px;
}

.nav-title {
    margin: 0px;
    padding: 0px;

    text-decoration: none;

    font-size: 24pt;
    color: var(--porcelain-w);
    
    transition: 0.3s;
}

.button, .special-button {
    margin: 0px;
    padding: 10px;

    font-size: 16pt;
    color: var(--indigo-b);

    align-content: center;

    text-decoration: none;
    text-align: center;

    background-color: var(--porcelain-w);

    border-radius: 10px;
    border: none;

    box-shadow: var(--shadow);

    transition: 0.3s;
}

.special-button {
    background-color: var(--turquoise-lg);
}

.button:hover, .nav-title:hover, .special-button:hover {
    cursor: pointer;

    transition: 0.3s;
    transform: translateY(-3px);
}

.button:hover, .special-button:hover {
    box-shadow: var(--focused-shadow);
}

.button:active, .nav-title:active, .special-button:active {
    transform: scale(0.9);
}

#page-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    justify-self: center;

    font-family: var(--body-font);
    font-size: 24pt;

    color: var(--porcelain-hw);

    text-align: left;

    background-color: var(--indigo-lb);
    box-shadow: var(--shadow);

    padding: 40px;

    width: 100vw;
    max-width: 1000px;

    min-height: 100vh;
}

img {
    justify-self: center;
    align-self: center;

    padding: 5px;
    margin: 20px auto;

    max-width: 95%;

    box-shadow: var(--shadow);

    background-color: var(--porcelain-hw);
}

.page-title {
    margin: 0px auto 20px auto;
    padding: 0px;

    font-size: 32pt;
    text-align: center;
}

.input-label-pair {
    display: flex;
    flex-flow: column nowrap;

    margin: 20px 0px;
    padding: 0px;

    gap: 5px;
}

input, textarea {
    border: none;
    padding: 10px;

    font-family: var(--body-font);
    font-size: 12pt;
    color: var(--indigo-b);

    background-color: var(--porcelain-hw);

    border-radius: 10px;

    box-shadow: var(--shadow);

    transition: 0.3s;
}

input:focus, textarea:focus {
    transform: scale(1.025);

    outline: none;

    box-shadow: var(--focused-shadow);
}

textarea {
    resize: none;

    field-sizing: content;

    min-height: 10rem;
}

p {
    margin: 10px;
    padding: 0px;
}

.img-carousel {
    display: grid;

    justify-self: center;
    align-self: center;

    box-sizing: border-box;

    background-color: var(--indigo-b);

    border-radius: 10px;

    width: 100%;

    padding: 40px;
    gap: 20px;

    box-shadow: var(--shadow);

    transition: 0.3s;
}

.img-carousel:hover {
    box-shadow: var(--focused-shadow);

    transform: scale(1.01);
}

#ad-banner, .ad-box {
    background-color: var(--turquoise-lg);

    font-family: var(--body-font);

    text-align: center;

    color: var(--indigo-b);

    box-shadow: var(--shadow);

    margin: 0px;
    padding: 10px;

    transition: 0.3s;
}

#ad-banner {
    font-size: 16pt;

    width: 100vw;
}

.ad-box {
    font-size: 30pt;

    border-radius: 10px;

    margin: 30px 0px;
}

#ad-banner:hover, .ad-box:hover {
    box-shadow: var(--focused-shadow);
}

.ad-box:hover {
    transform: scale(1.01);
}