@font-face {
    font-family: 'CafeMajestic';
    src: url('CafeMajestic-Regular.otf') format('otf');

    font-display: swap;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;

    font-family: 'CafeMajestic';
}

#navbar {
    display: flex;

    position: sticky;
    top: 0px;

    width: 100vw;
    height: 90px;

    background: #2A7B9B;
    background: linear-gradient(90deg, #2a7b9b 0%, #3f9e9c 25%, #57c785 50%, #a68bb6 75%, #c653ed 100%);

    padding: 10px;
}

.nav-title {
    color: aliceblue;

    margin: 0px;
    font-size: 32pt;
}